<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>header</title>
    <link rel="stylesheet" href="./header.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="inner">
          <div class="logo">
            <a href=""> <img src="./images/logo.png" alt="logo" /> </a>
          </div>
          <ul class="nav">
            <li><a href="#">About</a></li>
            <li><a href="#">Location</a></li>
            <li><a href="#">Offers</a></li>
            <li><a href="#">Menu</a></li>
            <li><a href="#">News</a></li>
          </ul>
          <ul class="buttons">
            <a href="#">login</a>
            <a href="#">signup</a>
          </ul>
        </div>
      </div>
      <div class="section">
        <div class="photos">
          <div class="photo01">
            <img src="./images/top_img_01.png" alt="" />
            <img src="./images/top_img_02.png" alt="" />
          </div>
          <div class="photo02">
            <img src="./images/top_img_03.png" alt="" />
          </div>
        </div>
        <div class="greeting">
          <h2>about seven coffee</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit
            voluptatem natus omnis. Quaerat dolores, qui repudiandae
            consequuntur aliquam accusamus. Vero iusto sequi veritatis ipsum a
            maxime laboriosam consequatur et quidem!
          </p>
          <a href="#">button</a>
        </div>
      </div>
      <div class="section gray-box">
        <div class="red-box"></div>
      </div>
    </div>
  </body>
</html>
