<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>layout 05</title>
    <link rel="stylesheet" href="./layout_05.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="inner">
          <div class="item-01"></div>
          <div class="item-02"></div>
        </div>
      </div>
      <div class="nav">
        <div class="inner"></div>
      </div>
      <div class="contents-01"></div>
      <div class="contents-02">
        <div class="inner">
          <div class="item-03"></div>
          <div class="item-04"></div>
          <div class="item-05"></div>
        </div>
      </div>
      <div class="contents-03">
        <div class="inner">
          <div class="item-06"></div>
          <div class="item-07"></div>

          <div class="item-08"></div>
          <div class="item-09"></div>
        </div>
      </div>
      <div class="contents-04">
        <div class="inner">
          <div class="item-10"></div>
          <div class="item-11"></div>
        </div>
      </div>
      <div class="contents-05">
        <div class="inner">
          <div class="item-12"></div>
          <div class="item-13"></div>
          <div class="item-14"></div>
        </div>
      </div>
      <div class="contents-06">
        <div class="inner">
          <div class="top">
            <div class="group01">
              <div class="item-15"></div>
            </div>
            <div class="group02">
              <div class="item-16"></div>
              <div class="item-17"></div>
              <div class="item-18"></div>
            </div>
          </div>
          <div class="item-19"></div>
        </div>
      </div>
    </div>
  </body>
</html>
