* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1100px;
  margin: 0 auto;
  /* background: #dddddd; */
  /* height: 500px; */
}

.list {
  display: flex;
  justify-content: space-between;
}

.list_item {
  width: 254px;
  height: 250px;
  /* background: green; */
}

.text {
  margin-top: 10px;
}

.company {
  font-size: 10px;
  color: #999999;
  margin-top: 8px;
}

h1.title {
  text-align: center;
  padding: 30px 0;
}
